assets/

# cache files and python cache files
.cache/
__pycache__/
*/__pycache__/
.vscode/
.pyc
*.pyc
*.pyo
*.pyd
test/

# Rust
/target/
native/video/target/
# Opcional para librerías
# Cargo.lock

# Arch packaging artifacts (makepkg)
packaging/aur/pkg/
packaging/aur/src/
packaging/aur/widdgyy-git/
packaging/aur/*.pkg.tar.*
packaging/aur/*.src.tar.*

# VSCode
.vscode/

# JetBrains
.idea/
*.iml

# CLion
cmake-build-*/

# Backups
*.rs.bk
*~

# Logs
*.log

# Tempo
*.tmp
*.temp

# SO
.DS_Store
Thumbs.db