pkgbase = widdgyy-git
	pkgdesc = GTK4 layer-shell desktop widget renderer with text, media and layout stickers
	pkgver = r0.g0000000
	pkgrel = 1
	url = https://github.com/dantejvar28/widdgyy
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cargo
	makedepends = rust
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = python-commentjson
	depends = python-requests
	depends = gtk4
	depends = gtk4-layer-shell
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	provides = widdgyy
	conflicts = widdgyy
	source = widdgyy-git::git+https://github.com/dantejvar28/widdgyy.git
	sha256sums = SKIP

pkgname = widdgyy-git
